/* stylelint-disable max-line-length */

/* Audemars Piguet Custom Fonts - Helvetica Neue Web */

/* Self-hosted fonts */

@font-face {
  font-family: "Helvetica Neue Web";
  src: url("../fonts/Neue-Helvetica-25-Ultra-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Web";
  src: url("../fonts/Neue-Helvetica-45-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Web";
  src: url("../fonts/Neue-Helvetica-46-Light-Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Web";
  src: url("../fonts/Neue-Helvetica-55-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Web";
  src: url("../fonts/Neue-Helvetica-65-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Web";
  src: url("../fonts/Neue-Helvetica-75-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Icon font */

@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
